%ul.unstyled
  - if plugin.is_a?(Hash)
    - plugin.each_entry do |k, v|
      %li
        %small
          %strong= "#{k}:"
          -if k.match(/^usage/)
            %span= "#{v}%"
          -else
            %span= like_filesize(v)
  -else
    %small.muted=plugin
